<header>
    <div class="logo">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ site.logo }}" alt="{{ site.title }}">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">All</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Tags</a>
                <div class="dropdown-content">
                    {% assign tags = site.posts | map: 'tags' | flatten | uniq | sort %}
                    {% for tag in tags %}
                        <a href="{{ '/tags/' | append: tag | downcase | relative_url }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </nav>
</header>