---
layout: default
---

<h1>Tag: {{ page.tag }}</h1>

<div class="articles">
    {% assign tag = page.tag | downcase %}
    {% for post in site.posts %}
        {% if post.tags contains tag %}
        <article>
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
            <p class="description">{{ post.description }}</p>
            <p class="tags">
                {% for post_tag in post.tags %}
                <a href="{{ '/tags/' | append: post_tag | downcase | relative_url }}">{{ post_tag }}</a>
                {% endfor %}
            </p>
        </article>
        {% endif %}
    {% endfor %}
</div>

{% if site.posts.size == 0 %}
<p>No posts found.</p>
{% endif %}